h1{}
h2{
	font-family: $oswald;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 25px;
	span{color: $darkbrown;}
}
h3{
	font-family: $oswald;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 15px;
	color: $darkbrown;
}
h4{
	font-family: $roboto;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 15px;
	color: $darkbrown;
}
p{
	font-size: 16px;
	font-family: $roboto;
	line-height: 32px;	
}

img{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

a{
	&:hover, &:focus, &:active{
		text-decoration: none;
		outline: 0;
	}
}

/* Captcha */
@media screen and (max-width:350px){
.g-recaptcha {transform:scale(0.93);-webkit-transform: scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

/* Validation Error */
.wpcf7-not-valid-tip{ color: #ff8989 !important; }
.wpcf7-validation-errors{ color: #ff8989 !important; border-color: #ff8989 !important;}
.wpcf7-mail-sent-ng{color: #ff8989; border-color: #ff8989 !important;}
.wpcf7-mail-sent-ok{color: #acff89 !important; border-color: #acff89 !important;}
.wpcf7-response-output{color: #ff8989 !important; border-color: #ff8989 !important;}

/* Wodpress Core */
.referenceCSS { padding-left: 30px !important; text-indent: -30px !important; font-size:13px !important;}
.referenceCSS a { text-transform:inherit !important; }
.blog-detail iframe { display: block; text-align: center; margin: 0 auto; }
a{word-wrap:break-word;}
/* =WordPress Core= */
.alignnone{margin:5px 20px 20px 0}.aligncenter,div.aligncenter{display:block;margin:5px auto}.alignright{float:right;margin:5px 0 20px 20px}.alignleft{float:left;margin:5px 20px 20px 0}a img.alignright{float:right;margin:5px 0 20px 20px}a img.alignleft,a img.alignnone{margin:5px 20px 20px 0}a img.alignleft{float:left}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}.wp-caption.alignleft,.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignright{margin:5px 0 20px 20px}.wp-caption img{border:0;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}