// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$lightbrown: #8b6857;
$darkbrown: #60483c;
$yellow: #feeb3a;
$white: #ffffff;
$lightblack: #333;
$darkblack: #212121;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$bitter: 'Bitter', serif;