#footer{
	background: $darkbrown;
	padding: 15px 0;
	p{
		color: #FFF; 
		margin-bottom: 0;
		font-size: 14px;
		a{
			color: #FFF;
			&:hover{
				text-decoration: underline !important;
				color: $lightbrown;
			}
			&:focus, &:active{
				text-decoration: none;
				color: #FFF;
			}
		}
	}
}